@model List<CourseManagement_Model.ViewModel.AssignmentModel>

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .btn-disabled {
        background-color: #6c757d;
        border-color: #6c757d;
        cursor: not-allowed;
    }
</style>
<div class="container mt-3">
    <div class="card mt-5">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Title</th>
                        <th>Desription</th>
                        <th>Date</th>
                        <th>Course Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.DueDate.ToString().Split(' ')[0]</td>
                                <td>@item.CourseName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <a href="Index" class="btn btn-primary btn-sm mt-3">Back To DashBoard</a>
            </div>
        </div>

    </div>
</div>


