@model List<CourseManagement_Model.ViewModel.CourseModel>

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .btn-disabled {
        background-color: #6c757d;
        border-color: #6c757d;
        cursor: not-allowed;
    }
</style>
<div class="container mt-3">
   @* <div class="d-flex gap-2">
        <a href="CreateCourse" class="btn btn-primary btn-sm">Create Course</a>
        <a href="ReviewAssignment" class="btn btn-primary btn-sm">Review Assignment</a>
    </div>*@

    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Create By</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>
                                    @item.InstructorName
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <div>
                <a href="Index" class="btn btn-primary btn-sm mt-3">Back To DashBoard</a>
            </div>
        </div>
    </div>
</div>
