@model List<CourseManagement_Model.ViewModel.UserModel>

<div class="mt-3 container">

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Role</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>@item.Password</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="my-2">
        <a href="Index" class="btn btn-primary btn-sm">Back To Dashboard</a>
    </div>
</div>