@model List<CourseManagement_Model.ViewModel.AssignmentModel>
<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .btn-disabled {
        background-color: #6c757d;
        border-color: #6c757d;
        cursor: not-allowed;
    }
</style>
<div class="container mt-3">

    <div class="d-flex">
        <a class="btn btn-success btn-sm" href="CreateAssignment">
            Create Assignment
        </a>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <td>Title</td>
                        <td>Desription</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.DueDate.ToString().Split(' ')[0]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
